# Database Connection
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=transcribdb


CONSULT_DB_HOST=localhost
CONSULT_DB_PORT=5432
CONSULT_DB_USER=
CONSULT_DB_PASSWORD=
CONSULT_DB_NAME=
APP_PORT=8000

# JWT Configuration
JWT_SECRET=your-super-secret-key-change-this-in-production
JWT_EXPIRATION_HOURS=0.5
JWT_REFRESH_EXPIRATION_HOURS=24

# Login Credentials
LOGIN_USERNAME=admin
LOGIN_PASSWORD=SafePass_2026
